<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>НАШ КАЛЕНДАР</title>
</head>
<body>
    
    
    <div class="timer">
    <div class="field">
        <span class="value" data-days>00</span>
        <span class="label">:</span>
    </div>
      <div class="field">
          <span class="value" data-hours>00</span>
        <span class="label">:</span>
      </div>
      <div class="field">
        <span class="value" data-minutes>00</span>
        <span class="label">:</span>
      </div>
      <div class="field">
          <span class="value" data-seconds>00</span>
        <!-- <span class="label">:</span> -->
      </div>
    </div>
    <h2>Поки таймер тікає пропоную тобі згадати деякі моменти. Готова?</h2>
    <h3 class="js-text" ></h3>
<button class="js-yes" type="button" >Так</button>

    <div class="js-container">
        <input class="js-text-input"  type="text" hidden>
        <button class="js-button-text" type="button" hidden>Відповісти</button>
    </div>
    
    <div>

      <img class="img" src="./images/hello.png" alt="" width="0">
      <img class="img1" src="./images/date.png" alt="" width="0">
    </div>

    <input type="number" id="datetime-picker" hidden />
    <button class="js-button" type="button" data-start hidden>Шукай</button>
    <!-- <script src="./index.js"></script> -->

</body>
</html>