<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>НАШ КАЛЕНДАР</title>
</head>
<body>

<section class="layers" >
  <div class="layers__container" >

    <div class="layers__item layer1" style="background-image: url(./images/logo.jpg);"></div>
    <!-- <div class="layers__item layer2" style="background-image: url(./images/png.png);" ></div> -->
    <div class="layers__item layer3"> 

      <h1 class="text-about-us">РАЗОМ:</h1>
    </div>
    <div class="timer layers__item" >
      <div class="field">
          <span class="value" data-days>00</span>
          <span class="label">:</span>
      </div>
        <div class="field">
            <span class="value" data-hours>00</span>
          <span class="label">:</span>
        </div>
        <div class="field">
          <span class="value" data-minutes>00</span>
          <span class="label">:</span>
        </div>
        <div class="field">
            <span class="value" data-seconds>00</span>
          <span class="label"></span>
        </div>
      </div>
      <div class="layers__item container-text">
      <h2 class="text-for-answer">Хочеш пригадати деякі моменти?</h2>
      <h3 class="js-text" ></h3>
     
      <div class="js-container">
        <input class="js-text-input"  type="text" hidden>
          <button class="js-button-text" type="button" hidden>Відповісти</button>
      </div>
      <select name="наші події" id="1">
        <option value="Перша...">Усе буває вперше...</option>
        <option value="+18">+18 😏😏😏</option>
      </select>
      <button class="js-yes" type="button" >Обрати</button>
      
    </div>
      <input type="number" id="datetime-picker" hidden />
      <button class="js-button" type="button" data-start hidden>Шукай</button> 
    <div class="layers__item layer4"></div>
    <!-- <div class="layers__item layer5" style="background-image: url(../images/);"></div> -->
    <!-- <div class="layers__item layer6" style="background-image: url(../images/);"></div> -->
  </div>
</section>




  
    <!-- <div class="js-timer"></div>
    
    <div class="timer" >
    <div class="field">
        <span class="value" data-days>00</span>
        <span class="label">:</span>
    </div>
      <div class="field">
          <span class="value" data-hours>00</span>
        <span class="label">:</span>
      </div>
      <div class="field">
        <span class="value" data-minutes>00</span>
        <span class="label">:</span>
      </div>
      <div class="field">
          <span class="value" data-seconds>00</span>
        <span class="label"></span>
      </div>
    </div>
    <h2>Хочеш пригадати деякі моменти?</h2>
    <h3 class="js-text" ></h3>
   
    <div class="js-container">
      <input class="js-text-input"  type="text" hidden>
        <button class="js-button-text" type="button" hidden>Відповісти</button>
    </div>
    <select name="наші події" id="1">
      <option value="Перша...">Усе буває вперше...</option>
      <option value="+18">+18 😏😏😏</option>
    </select>
    <button class="js-yes" type="button" >Обрати</button>
    
    
    <input type="number" id="datetime-picker" hidden />
    <button class="js-button" type="button" data-start hidden>Шукай</button> -->














    <div hidden>
       <img class="love" src="./images/love.jpg" alt="">
      <img class="img" src="./images/hello.png" alt="" width="0">
      <img class="img1" src="./images/time.png" alt="" width="40">

      <img class="img2" src="./images/date.png" alt="" width="40">
      <img class="img3" src="./images/serd.png" alt="" width="0">
      <img class="img4" src="./images/pho1.jpg" alt="" width="0">






      <img class="js-img img6" src="./images/we1.jpg" >
      <img class="js-img img7" src="./images/we2.jpg" >
      <img class="js-img img8" src="./images/we3.jpg" >
      <img class="js-img img9" src="./images/we4.jpg" >
      <img class="js-img img10" src="./images/we5.jpg" >
      <img class="js-img img11" src="./images/we6.jpg" >
      <img class="js-img img12" src="./images/we7.jpg" >
      <img class="js-img img13" src="./images/we8.jpg" >
      <img class="js-img img14" src="./images/we9.jpg" >
      <img class="js-img img15" src="./images/we10.jpg" >
      <img class="js-img img16" src="./images/we11.jpg" >
      <img class="js-img img17" src="./images/we12.jpg" >
      <img class="js-img img18" src="./images/we13.jpg" >
      <img class="js-img img19" src="./images/we14.jpg" >
      <img class="js-img img20" src="./images/we15.jpg" >
      <img class="js-img img21" src="./images/we16.jpg" >
      <img class="js-img img22" src="./images/we17.jpg" >
      <img class="js-img img23" src="./images/we18.jpg" >
      <img class="js-img img24" src="./images/we19.jpg" >
      <img class="js-img img26" src="./images/we21.jpg" >
      <img class="js-img img27" src="./images/we22.jpg" >
      <img class="js-img img28" src="./images/we23.jpg" >
      <img class="js-img img29" src="./images/we24.jpg" >
      <img class="js-img img30" src="./images/we25.jpg" >
      <img class="js-img img31" src="./images/we26.jpg" >
      <img class="js-img img32" src="./images/we27.jpg" >
      <img class="js-img img34" src="./images/we29.jpg" >
      <img class="js-img img35" src="./images/we30.jpg" >
      <img class="js-img img36" src="./images/we31.jpg" >
      <img class="js-img img37" src="./images/we32.jpg" >
      <img class="js-img img38" src="./images/we33.jpg" >
      <img class="js-img img40" src="./images/we35.jpg" >
      <img class="js-img img41" src="./images/we36.jpg" >
    </div>
</body>
</html>