<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>НАШ КАЛЕНДАР</title>
</head>
<body>
    <div class="js-timer"></div>
    
    <!-- <div class="timer" >
    <div class="field">
        <span class="value" data-days>00</span>
        <span class="label">:</span>
    </div>
      <div class="field">
          <span class="value" data-hours>00</span>
        <span class="label">:</span>
      </div>
      <div class="field">
        <span class="value" data-minutes>00</span>
        <span class="label">:</span>
      </div>
      <div class="field">
          <span class="value" data-seconds>00</span>
        <span class="label">:</span>
      </div>
    </div> -->
    <h2>Хочеш пригадати деякі моменти?</h2>
    <h3 class="js-text" ></h3>
<button class="js-yes" type="button" >Так</button>

    <div class="js-container">
        <input class="js-text-input"  type="text" hidden>
        <button class="js-button-text" type="button" hidden>Відповісти</button>
    </div>
    
    
    <input type="number" id="datetime-picker" hidden />
    <button class="js-button" type="button" data-start hidden>Шукай</button>














    <div hidden>
<img class="love" src="./images/love.jpg" alt="">
      <img class="img" src="./images/hello.png" alt="" width="0">
      <img class="img1" src="./images/time.png" alt="" width="40">

      <img class="img2" src="./images/date.png" alt="" width="40">
      <img class="img3" src="./images/serd.png" alt="" width="0">
      <img class="img4" src="./images/pho1.jpg" alt="" width="0">






      <img class="img6" src="./images/we1.jpg" alt="" width="0">
      <img class="img7" src="./images/we2.jpg" alt="" width="0">
      <img class="img8" src="./images/we3.jpg" alt="" width="0">
      <img class="img9" src="./images/we4.jpg" alt="" width="0">
      <img class="img10" src="./images/we5.jpg" alt="" width="0">
      <img class="img11" src="./images/we6.jpg" alt="" width="0">
      <img class="img12" src="./images/we7.jpg" alt="" width="0">
      <img class="img13" src="./images/we8.jpg" alt="" width="0">
      <img class="img14" src="./images/we9.jpg" alt="" width="0">
      <img class="img15" src="./images/we10.jpg" alt="" width="0">
      <img class="img16" src="./images/we11.jpg" alt="" width="0">
      <img class="img17" src="./images/we12.jpg" alt="" width="0">
      <img class="img18" src="./images/we13.jpg" alt="" width="0">
      <img class="img19" src="./images/we14.jpg" alt="" width="0">
      <img class="img20" src="./images/we15.jpg" alt="" width="0">
      <img class="img21" src="./images/we16.jpg" alt="" width="0">
      <img class="img22" src="./images/we17.jpg" alt="" width="0">
      <img class="img23" src="./images/we18.jpg" alt="" width="0">
      <img class="img24" src="./images/we19.jpg" alt="" width="0">
      <!-- <img class="img25" src="./images/we20.jpg" alt="" width="0"> -->
      <img class="img26" src="./images/we21.jpg" alt="" width="0">
      <img class="img27" src="./images/we22.jpg" alt="" width="0">
      <img class="img28" src="./images/we23.jpg" alt="" width="0">
      <img class="img29" src="./images/we24.jpg" alt="" width="0">
      <img class="img30" src="./images/we25.jpg" alt="" width="0">
      <img class="img31" src="./images/we26.jpg" alt="" width="0">
      <img class="img32" src="./images/we27.jpg" alt="" width="0">
      <img class="img34" src="./images/we29.jpg" alt="" width="0">
      <img class="img35" src="./images/we30.jpg" alt="" width="0">
      <img class="img36" src="./images/we31.jpg" alt="" width="0">
      <img class="img37" src="./images/we32.jpg" alt="" width="0">
      <img class="img38" src="./images/we33.jpg" alt="" width="0">
      <img class="img40" src="./images/we35.jpg" alt="" width="0">
      <img class="img41" src="./images/we36.jpg" alt="" width="0">
    </div>
    <!-- <script src="./index.js"></script> -->

</body>
</html>