<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  >
    <main style="height: 100vh; background-color: rgb(0, 0, 0);">
    <section class="cube" >
        <div class=" js-cube__container cube__container" >
        
        <div class="cube__item top"><span class="span">Кохаю тебе❤️</span>
        
            
        </div>
        <div class="cube__item right"><span class="span">Ти найкраща💕</span></div>
        <div class="cube__item left"><span class="span">Дякую що ти в мене є😘</span></div>
        <div class="cube__item bottom"><span class="span">Ти робиш мене щасливим💖</span></div>
        

        <div class="cube__item front"><span class="span">Моя маленька🤗</span></div>
        <div class="cube__item back"><span class="span">Обожнюю тебе💞</span></div>
        </div>
<div class="guard"></div>

    </section>
 
    <audio class="loveyou" src="./audio/loveyou.ogg" type="audio/ogg">
         </audio>
 <audio class="mebaby" src="./audio/mebaby.ogg" type="audio/ogg"></audio>
 <audio class="adoreyou" src="./audio/adoreyou.ogg" type="audio/ogg"></audio>
 <audio class="thankyou" src="./audio/thankyou.ogg" type="audio/ogg"></audio>
 <audio class="thebest" src="./audio/thebest.ogg" type="audio/ogg"></audio>
 <audio class="youdomehappy" src="./audio/youdomehappy.ogg" type="audio/ogg"></audio>

    
</main>
    <script type="module" src="/src/js/cube.js"></script>
</body>
</html>