* {
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  .timer {
    display: flex;
    gap: 10px;
  }
  .field{
    display: flex;
    gap: 10px;
    font-size: 50px;
  }
  .js-container{
    margin-bottom: 400px;
  }
.text {
  font-size: 30px;
  color: #fafafa;
}
 body{
  /* background-image: url("https://bogatyr.club/uploads/posts/2021-11/1636945275_1-bogatyr-club-p-krasivii-fon-s-serdechkami-1.jpg"); */
  background-size: 1400px;
 }
